{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-md-4 login-sec">

                {% for flashError in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}

                <h1>S'inscrire</h1>

                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.pseudo) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}
                <button class="btn btn-lg btn-primary" type="submit">
                    S'inscrire
                </button>
                {{ form_end(registrationForm) }}
            </div>
            <img class="d-block img-fluid"
                 src="https://image.freepik.com/vecteurs-libre/mains-personne-regardant-famille-enfants_74855-6491.jpg">
        </div>
    </div>

{% endblock %}
