{% extends 'base.html.twig' %}

{% block title %} Kids & Family! {% endblock %}

{% block main %}

    <div class="album p-1 bg-light">
        <div class="container">
            <div class="row">
               {# <div class="col">
                    {% include 'activity/_filter.html.twig'%}
                </div> #}
                {% for activity in activities %}
                    {% if loop.first %}
                    <div class="col-md-4">
                        <div class="card m-2 shadow-sm">
                            <div class="card-title mb-1 p-1">
                                <h5 class="card-title d-flex justify-content-start mb-2">{{ activity.name }}</h5>
                                <h6 class="badge badge-primary p-1  d-flex justify-content-end">{{ activity.category.name }}</h6>
                            </div>
                            <div class="card-img">
                                {% for picture in activity.pictures %}
                                    <img class="card-img-top" src="{{ asset('/uploads/'~ picture.filename) }}"
                                         alt="pictures" width="100%" height="225">
                                {% endfor %}
                            </div>
                            <div class="card-body">
                                <div class="mt-2 d-flex justify-content-between align-items-baseline">
                                    <small class="text-primary"><i
                                                class="fas fa-flag"></i> {{ activity.comments.count }}</small>
                                    <a href="{{ path('activity_show', { id: activity.id}) }}"><i
                                                class="far fa-1x fa-eye m-1  btn-outline-success"></i></a>
                                    <a href="#"><i
                                                class="fas fa-apple-alt btn-outline-danger m-1"></i></a> {# compteur à mettre en place #}
                                    <small class="text-center text-secondary">{{ activity.createdAt ? activity.createdAt|date('Y-m-d') }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if not loop.first %}
                        <div class="col-md-4">
                            <div class="card m-2 shadow-sm">
                                <div class="card-title mb-1 p-1">
                                    <h5 class="card-title d-flex justify-content-start mb-2">{{ activity.name }}</h5>
                                    <h6 class="badge badge-primary p-1  d-flex justify-content-end">{{ activity.category.name }}</h6>
                                </div>
                                <div class="card-img">
                                    {% for picture in activity.pictures %}
                                        <img class="card-img-top" src="{{ asset('/uploads/'~ picture.filename) }}"
                                             alt="pictures" width="100%" height="225">
                                    {% endfor %}
                                </div>
                                <div class="card-body">
                                    <div class="mt-2 d-flex justify-content-between align-items-baseline">
                                        <small class="text-primary"><i class="fas fa-flag"></i> {{ activity.comments.count }}</small>
                                        <a href="{{ path('activity_show', { id: activity.id}) }}"><i class="far fa-1x fa-eye m-1  btn-outline-success"></i></a>
                                        <a href="#"><i class="fas fa-apple-alt btn-outline-danger m-1"></i></a> {# compteur à mettre en place #}
                                        <small class="text-center text-secondary">{{ activity.createdAt ? activity.createdAt|date('Y-m-d') }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

