{% extends 'base.html.twig' %}

{% block title %} Kids & Family! {% endblock %}


{% block body %}

    <div class="container-fluid m-2 p-2 border-rounded">
        <div class="row mb-4">
            <div class="col-md-12">

            </div>
        </div>
        <div class="row border-rounded p-3 m-3">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2 border p-2 m-2">
                        <div class="row justify-content-center p-1">
                            <div class="col-md-12 mb-2">
                                {% include 'activity/_filter.html.twig' %}
                            </div>
                        </div>
                    </div>
                    {% for activity in activities %}
                    {% if not loop.last %}
                    <div class="col-md-6 border p-2 m-2 overflow-x:scroll">
                        <h5 class="text-center p-2"><i class="fas fa-pen-square mr-2"></i>Les Publications</h5>
                        <div class="row mb-3">
                            <div class="col-md-4">
                                {% for picture in activity.pictures %}
                                    <img src="{{ asset('/uploads/'~ picture.filename) }}" alt="pictures" class="img-thumbnail" />
                                {% endfor %}
                            </div>
                            <div class="col-md-4">
                                {% for picture in activity.pictures %}
                                    <img src="{{ asset('/uploads/'~ picture.filename) }}" alt="pictures" class="img-thumbnail" />
                                {% endfor %}
                            </div>
                            <div class="col-md-4">
                                {% for picture in activity.pictures %}
                                    <img src="{{ asset('/uploads/'~ picture.filename) }}" alt="pictures" class="img-thumbnail" />
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                {% for picture in activity.pictures %}
                                    <img src="{{ asset('/uploads/'~ picture.filename) }}" alt="pictures" class="img-thumbnail" />
                                {% endfor %}
                            </div>
                            <div class="col-md-4">
                                {% for picture in activity.pictures %}
                                    <img src="{{ asset('/uploads/'~ picture.filename) }}" alt="pictures" class="img-thumbnail" />
                                {% endfor %}
                            </div>
                            <div class="col-md-4">
                                {% for picture in activity.pictures %}
                                    <img src="{{ asset('/uploads/'~ picture.filename) }}" alt="pictures" class="img-thumbnail" />
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 border m-2 p-2 overflow-x:scroll">
                        <h5 class="text-center text-primary p-2"><i class="fas fa-heart mr-2"></i>A la une </h5>
                        <div class="row mb-3 d-flex">
                            <div class="col-md-12  ">
                                {% for picture in activity.pictures %}
                                    <img src="{{ asset('/uploads/'~ picture.filename) }}" alt="pictures" class="img-thumbnail" />
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {% for picture in activity.pictures %}
                                    <img src="{{ asset('/uploads/'~ picture.filename) }}" alt="pictures" class="img-thumbnail" />
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="row border">
            <div class="col-md-12 ml-4 d-flex justify-content-around align-items-baseline">
                {# liens de pied de page #}
                    <h6 class="m-2 p-2"><a href="#" class="mr-2">Conditions d'utilisation</a> |  <a href="#">Politique de
                            Confidentialité</a></h6>

                <div class="float-left"> © Kids  &  Family 2021</div>
                    <div>
                        {% if  is_granted(['ROLE_AMBASSADOR','ROLE_ADMIN']) %}
                            <a href="{{ path('activity_new') }}" class="btn btn-sm btn-outline-success "><i
                                        class="fas fa-plus-square"></i></a>
                        {% endif %}
                    </div>


                    <div class="justify-content-space-between">
                        <a href="#" class="btn btn-outline-warning"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="btn btn-outline-primary"><i class="fab fa-facebook-square"></i></a>
                        <a href="#" class="btn btn-outline-danger"><i class="fab fa-youtube-square"></i></a>
                    </div>

                </div>
            </div>
    </div>

{% endblock %}



