{% extends 'base.html.twig' %}

{% block title %} Kids & Family Activités ! {% endblock %}


{% block body %}
    <div class="container text-center my-3">
        <h2 class="font-weight-light">Publications à la une</h2>
            {% for activity in activities %}
            <div class="row mx-auto my-auto">
                <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
                    <div class="carousel-inner w-100" role="listbox">
                        <div class="carousel-item active">
                                <div class="col-md-3 p-3">
                                    <div class="card card-body">
                                        <div>
                                            <p class="mb-2">{{ activity.name }}</p>

                                              {% for picture in activity.pictures %}
                                                    <img src="{{ asset('/uploads/'~ picture.filename) }}"
                                                         alt="pictures" width="200" height="150" class="mb-2">
                                                {% endfor %}
                                            <br>
                                            <div class="mt-2 d-flex justify-content-around ">
                                                <p>

                                                <h6><a href="#"> {{ activity.category.name }} </a></h6>

                                                </p>
                                                <p>
                                                    <a href="{{ path('activity_show', { id: activity.id}) }}"><i
                                                                class="far fa-eye m-2"></i></a>
                                                    <a href="#"><i
                                                                class="fas fa-heart m-2"></i></a> {# compteur à mettre en place #}

                                                </p>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            <div class="col-md-3 p-3">
                                <div class="card card-body">
                                    <div>
                                        <p class="mb-2">{{ activity.name }}</p>

                                        {% for picture in activity.pictures %}
                                            <img src="{{ asset('/uploads/'~ picture.filename) }}"
                                                 alt="pictures" width="200" height="150" class="mb-2">
                                        {% endfor %}
                                        <br>
                                        <div class="mt-2 d-flex justify-content-around ">
                                            <p>

                                            <h5><a href="#"> {{ activity.category.name }} </a></h5>

                                            </p>
                                            <p>
                                                <a href="{{ path('activity_show', { id: activity.id}) }}"><i
                                                            class="far fa-eye m-2"></i></a>
                                                <a href="#"><i
                                                            class="fas fa-heart m-2"></i></a> {# compteur à mettre en place #}

                                            </p>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 p-3">
                                <div class="card card-body">
                                    <div>
                                        <p class="mb-2">{{ activity.name }}</p>

                                        {% for picture in activity.pictures %}
                                            <img src="{{ asset('/uploads/'~ picture.filename) }}"
                                                 alt="pictures" width="200" height="150" class="mb-2">
                                        {% endfor %}
                                        <br>
                                        <div class="mt-2 d-flex justify-content-around ">
                                            <p>

                                            <h5><a href="#"> {{ activity.category.name }} </a></h5>

                                            </p>
                                            <p>
                                                <a href="{{ path('activity_show', { id: activity.id}) }}"><i
                                                            class="far fa-eye m-2"></i></a>
                                                <a href="#"><i
                                                            class="fas fa-heart m-2"></i></a> {# compteur à mettre en place #}

                                            </p>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 p-3">
                                <div class="card card-body">
                                    <div>
                                        <p class="mb-2">{{ activity.name }}</p>

                                        {% for picture in activity.pictures %}
                                            <img src="{{ asset('/uploads/'~ picture.filename) }}"
                                                 alt="pictures" width="200" height="150" class="mb-2">
                                        {% endfor %}
                                        <br>
                                        <div class="mt-2 d-flex justify-content-around ">
                                            <p>

                                            <h5><a href="#"> {{ activity.category.name }} </a></h5>

                                            </p>
                                            <p>
                                                <a href="{{ path('activity_show', { id: activity.id}) }}"><i
                                                            class="far fa-eye m-2"></i></a>
                                                <a href="#"><i
                                                            class="fas fa-heart m-2"></i></a> {# compteur à mettre en place #}

                                            </p>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle p-2"
                         aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle"
                        aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        {% endfor %}
        <div class="d-flex text-center justify-content-center">
            <h6 class="m-2 p-2"><a href="#" class="mr-2">Conditions d'utilisation</a> <a href="#">Politique de Confidentialité</a>
                {% if  is_granted(['ROLE_AMBASSADOR']) %}
                    <a href="{{ path('activity_new') }}" class="btn btn-sm btn-outline-success "><i class="fas fa-plus-square"></i></a>
                {% endif %}

            </h6>
        </div>



    </div>

{% endblock %}



