

{% block body %}

<div class="jumbotron fluid d-flex p-4 m-3 w-100 justify-content-start ">

    <div class="col-md-7">
        {{ form_start(form) }}
        <div class="row mb-3">
            <label for="email" class="col-md-2">Email :</label>
            <p class="col-md-5 float-left">{{ form_widget(form.email) }}</p>
        </div>
        <div class="row mb-3">
            <label for="email" class="col-md-2">Mot de passe :</label>
            <p class="col-md-5 float-left">{{ form_widget(form.password) }}</p>
        </div>
        <div class="row mb-3">
            <label for="email" class="col-md-2">Pseudonyme :</label>
            <p class="col-md-5 float-left">{{ form_widget(form.pseudo) }}</p>
        </div>
        <div class="row mb-3">
            <label for="email" class="col-md-2">Profil :</label>
            <p class="col-md-5 float-left">{{ form_widget(form.profile) }}</p>
        </div>
        <div class="justify-content-center">
            <button class="btn btn-outline-success">{{ button_label|default('Créer') }}</button>

        </div>
        {{ form_end(form) }}


    </div>

</div>

{% endblock %}