{% extends 'base.html.twig' %}

{% block title %}
    Modifier le profil
{% endblock %}
{% block body %}
    <div class="jumbotron p-5 m-5" >
        <h4 class="m-3 p-3">Modification du profil de {{ app.user.username }}</h4>
        {{ form_start (updateForm) }}
        {{ form_widget (updateForm) }}
        <button type="submit" class="btn btn-sm btn-outline-success">Enregister</button>
        <a class="btn btn-sm btn-outline-primary" href="{{ path('user_profile', {id: app.user.id} ) }}">Annuler</a>
        {{ form_end (updateForm) }}
    </div>
{% endblock %}
